<template>
<template if:true={accountProperties}>
    <div class="container">
        Details<br>

        <ul class="slds-list_horizontal">
        <lightning-icon icon-name="utility:case" ></lightning-icon>
        <p class="slds-m-bottom_medium">{accountProperties.Name}</p>
 <!--
        <a href='https://resourceful-raccoon-gd2ew1-dev-ed.lightning.force.com/lightning/r/Account/{account.id}/view'>Full Details</a>

        -->
        
        </ul>
        <dt class="slds-item_label slds-text-color_weak slds-truncate" title="First Label">Account type:</dt>
        <dd class="slds-item_detail slds-truncate" title="Description for first label">{accountProperties.Type}</dd>
        <dt class="slds-item_label slds-text-color_weak slds-truncate" title="First Label">Industry:</dt>
        <dd class="slds-item_detail slds-truncate" title="Description for first label">{accountProperties.Industry}</dd>
        <dt class="slds-item_label slds-text-color_weak slds-truncate" title="First Label">Budget:</dt>
        <dd class="slds-item_detail slds-truncate" title="Description for first label">{accountProperties.Budget__c}</dd>
        <dt class="slds-item_label slds-text-color_weak slds-truncate" title="First Label">Description:</dt>
        <dd class="slds-item_detail slds-truncate" title="Description for first label">{accountProperties.Description}</dd>
        

       

    </div>
</template>
<template if:false={accountProperties}>
    
    
    <div>Select Account</div>
    

</template>
</template>