<template>
    <div class="wrapper">
    <header class="header">Find an Account
      
      
    </header>
    <section class="content">
        <div class="columns">
        <main class="main" >
            <c-list onaccountselected={handleAccountSelected}></c-list>
        </main>
        <aside class="sidebar-second">
           
            <c-detail account-properties={accountProperties}
            ></c-detail>
        </aside>
        </div>
    </section>
    </div>
</template>