<template>
        <lightning-layout-item size="6" medium-device-size="3" padding="around-small">
            <div class="custom-box slds-box slds-p-around_medium slds-text-align_left" >
                <a onclick={tileClick}>
           <img src={account.Image__c} width="200" height="200" >
           
           <dt class="slds-item_label slds-text-color_weak slds-truncate" title="First Label">Account Name:</dt> 
           <dd class="slds-item_detail slds-truncate" title="Description for first label">{account.Name}</dd>
           <dt class="slds-item_label slds-text-color_weak slds-truncate" title="First Label"> Account Owner: </dt> 
           <dd class="slds-item_detail slds-truncate" title="Description for first label">{account.Owner.name}</dd>
           <dt class="slds-item_label slds-text-color_weak slds-truncate" title="First Label"> Account Budget: </dt>
           <dd class="slds-item_detail slds-truncate" title="Description for first label">{account.Budget__c}</dd>
           <dt class="slds-item_label slds-text-color_weak slds-truncate" title="First Label">Account Employees Number:</dt>
           <dd class="slds-item_detail slds-truncate" title="Description for first label">{account.Number_of_Employees__c}</dd>
           <dt class="slds-item_label slds-text-color_weak slds-truncate" title="First Label">Account Type :</dt> 
           <dt class="slds-item_label slds-text-color_weak slds-truncate" title="First Label">{account.Type}</dt> 
           
        </a>
</div>
</lightning-layout-item>
</template>