<template>
    <lightning-card>
        <template if:true={TypePicklistValues.data}>
            <lightning-combobox name="progress"
                                label="Type"
                                value={valueType}
                                placeholder="-Select-"
                                options={TypePicklistValues.data.values}
                                onchange={handleChange} >
            </lightning-combobox>
      </template><br/>
        <template if:true={accounts}>
    <div class = "container">
        <div class="slds-box slds-p-around_none slds-m-top_x-small slds-m-bottom_medium slds-m-horizontal_none">
        <lightning-layout multiple-rows> 
            
        <template for:each={accounts} for:item="account">
            
                <c-tile 
                key={account.id} 
                account={account} 
                ontileclick={handleTileClick}>
            </c-tile>
        
    
        </template>
   
    </lightning-layout>
</div>
    </div>   
</template>

</lightning-card>
    
</template>